    
@{
    ViewBag.Title = "Create";
}
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-dark">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="row">
                <div class="col-lg-1 col-lg-offset-0"><a class="navbar-brand" href="#"> <img src="~/Images/logo.jpg" style="width:80px ; height: 75px" /></a></div>
                <div class="col-lg-1 col-lg-offset-1"><a class="navbar-brand" href="#">Sistema Monitoreo</a></div>
            </div>

            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    var elements = document.getElementsByTagName("INPUT");
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].oninvalid = function (e) {
                            e.target.setCustomValidity("");
                            if (!e.target.validity.valid) {
                                e.target.setCustomValidity("Por favor rellene este espacio");
                            }
                        };
                        elements[i].oninput = function (e) {
                            e.target.setCustomValidity("");
                        };
                    }
                })
                document.addEventListener("DOMContentLoaded", function () {
                    var elements = document.getElementsByTagName("TEXTAREA");
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].oninvalid = function (e) {
                            e.target.setCustomValidity("");
                            if (!e.target.validity.valid) {
                                e.target.setCustomValidity("Por favor rellene este espacio");
                            }
                        };
                        elements[i].oninput = function (e) {
                            e.target.setCustomValidity("");
                        };
                    }
                })
            </script>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-left">

                <li class="dropdown">
                    <a class="dropdown-toggle"
                       data-toggle="dropdown" href="#">
                        Cliente Entidad <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/Entidad/Create">Agregar Entidad</a></li>
                        <li><a href="/Entidad/Index">Gestionar Entidad</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle"
                       data-toggle="dropdown" href="#">
                        Cliente Persona <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/Persona/Create">Agregar Cliente </a></li>
                        <li><a href="/Persona/Index">Gestionar Cliente</a></li>
                    </ul>
                </li>

            </ul>



        </div>
    </div>
</nav>

<div>
    <form action="/Persona/Crear" class="form-horizontal" method="post">
        <div class="container col-xs-5 ">
            <h1 class="display-1">Registro de clientes</h1>
            <div class="form-group">
                <label class="control-label col-sm-2" for="nombre">C&eacute;dula:</label>
                <div class="col-sm-5">
                    <input type="text" required class="form-control" id="cedula" name="cedula">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Nombre Completo:</label>
                <div class="col-sm-5">
                    <input type="text" required class="form-control" id="nombre_completo" name="nombre_completo">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Username:</label>
                <div class="col-sm-5">
                    <input type="text" required class="form-control" id="username" name="username">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Password:</label>
                <div class="col-sm-5">
                    <input type="text" required class="form-control" id="password" name="password">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Correo:</label>
                <div class="col-sm-5">
                    <input type="text" required class="form-control" id="correo" name="correo">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Telefono Fijo</label>
                <div class="col-sm-5">
                    <input type="text" required class="form-control" id="telefonoFijo" name="telefonoFijo">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Telefono Celular</label>
                <div class="col-sm-5">
                    <input type="text" required class="form-control" id="telefonoCelular" name="telefonoCelular">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <button class="form-horizontal btn btn-default" type="submit">Registrar</button>
                </div>
            </div>
        </div>
    </form>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>