body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
    font-size: 16px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #1A73B9;
    /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d;
    /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #70EBB6;
    /* White */
    color: #555555;
}

.bg-4 {
    background-color: #DCFF9C;
    /* Black Gray */
    color: #fff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.nav-color {
    background-color: #ffffff !important;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.rotar {
    rotate: 90;
}

.derecha {
    margin-right: 10px;
}

.izquierda {
    margin-left: 50px;
}

.izquierda2 {
    margin-left: 100px;
}

.arriba {
    margin-top: 50px;
}

.colorHidro {
    color: #1A1AB9 !important;
}

.footcolor {
    background-color: #4CA0DA !important;
}