
@{
    ViewBag.Title = "Error";
}

<head>

    <meta charset="utf-8">
    <title>SistemaMonitoreo</title>
    <base href="/">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/analisis-suelo.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>


</head>


<nav class="navbar navbar-dark">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="row">
                <div class="col-lg-1 col-lg-offset-0"><a class="navbar-brand" href="#"> <img src="~/Images/logo.jpg" style="width:80px ; height: 75px" /></a></div>
                <div class="col-lg-1 col-lg-offset-2"><a class="navbar-brand" href="#">Sistema Monitoreo</a></div>
            </div>


        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/VistasAdministrador/GestionarAnalisisQuimico">Gestionar Análisis Químico</a></li>
                <li><a href="#">Inventario</a></li>
                <li><a href="/Encargado/Index">Empleados</a></li>
                <li><a href="/VistasAdministrador/GestionarCliente">Clientes</a></li>
                <li><a href="#">Cerrar sesion</a></li>
            </ul>
        </div>
    </div>
</nav>
<br /><br /><br />
<h3>Se produjo un error al realizar la operaci&oacute;n solicitada, por favor intente de nuevo</h3>

<a href="/AnalisisSuelo/Index">Atr&aacute;s</a>
<br /><br /><br />

<footer class="container-fluid footcolor text-center ">
    <p class="colorHidro ">Hidroquim <a href="# ">www.hidro15R.com</a></p>
</footer>
